@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgba(242, 240, 240, 0.62);
}

/* HEADER */
.header {
    background: color(#004aad);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #004aad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    position: fixed; /* Opcional: si también quieres que el header quede fijo */
    top: 0;
    left: 0;
    z-index: 101;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background:  #004aad;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
}

.header .header-left .bi {
    font-size: 50px;
    margin-right: 10px;
    color: white;
}

.user-info p {
    margin: 0;
    color: white;
    font-size: 10px;
    font-weight: 100;
}

.userName {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.header-right {
    text-align: right;
    padding: 50px;
    margin-right: 20px;
}

.exit {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

/* MENU FIJO */
.navbar {
    position: fixed;
    top: 65px; /* Debajo del header */
    left: 0;
    width: 100%;
    background-color: rgba(236, 232, 232, 0.62);
    padding: 10px 0;
    z-index: 100;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgba(79, 79, 79, 0.7);
    font-size: 18px;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: rgba(199, 199, 199, 0.62);
    border-radius: 5px;
}

/* SEPARACIÓN DEL CONTENIDO PARA QUE NO QUEDE TAPADO */
.main-content {
    padding-top: 130px; /* 65px header + 65px navbar */
}

/* RESPONSIVE */
@media(max-width: 991px) {
    .header-left {
        min-height: 70px;
    }

    .header-right {
        height: auto;
        padding: 20px;
    }

    .logo {
        font-size: 20px;
        padding: 20px;
        margin-top: 10px;
    }

    .navbar {
        position: fixed; /* mantener fijo también en móviles */
        top: 65px;
        left: 0;
        right: 0;
        background-color: rgba(242, 240, 240, 0.62);
        padding: 10px 0;
        z-index: 100;
    }

    .nav-links {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-links li {
        margin: 0 5px;
    }

    .nav-links a {
        padding: 10px;
        font-size: 16px;
    }
}
