<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/user.css">
    <title>FinanzasInteligentes</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header-left">
                <i class="bi bi-person-circle"> </i>
                <div class="user-info">
                    <p>Welcome</p> 
                        <div class="userName">
                            <strong id="userName">User Name</strong> <!-- Debo de traer el nombre del usuario registrado con php -->
                        </div>
                </div>
            </div>
            <div class="header-right">
                <p class="logo">SALIR</p>
            </div>
        </div>
    </div>
    </header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#">Gastos</a></li>
            <li><a href="activos.html">Activos</a></li>
            <li><a href="#">Ahorros</a></li>
            <li><a href="#">Ingresos</a></li>
            <li><a href="#">Metas</a></li>
        </ul>
    </nav>

    <!-- Dashboard principal -->
    <div class="dashboard">
        <div class="card blue">
            <div class="icon"><i class="bi bi-cash"></i></div>
            <div class="content">
                <h4>Ingreso Total</h4>
                <p>0.00</p>
            </div>
        </div>
        <div class="card red">
            <div class="icon"><i class="bi bi-graph-down"></i></div>
            <div class="content">
                <h4>Gasto Total</h4>
                <p>0.00</p>
            </div>
        </div>
        <div class="card green">
            <div class="icon"><i class="bi bi-bar-chart-line"></i></div>
            <div class="content">
                <h4>Ahorro Total</h4>
                <p>0.00</p>
            </div>
        </div>
        <div class="card yellow">
            <div class="icon"><i class="bi bi-pie-chart"></i></div>
            <div class="content">
                <h4>Activo Total</h4>
                <p>0.00</p>
            </div>
        </div>
    </div>
</body>
</html>